/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@300;400&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6,button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

:root{
    --c1:#d0604c;
    --c2:#f2e0d2;
}
body{
    margin: 0;
    padding: 0;
}

/* Header Styles */
.top-container{
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white; */
    padding: 0.5rem;
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.logo img{
    width: auto;
    height: 10rem;
}

/* Nav Styles */
nav{
    margin: auto;
    height: 2.5rem;
}

.menu{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.menu a{
    text-decoration: none;
    color: var(--c1);
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.menu a:hover{
    font-weight: 600;
}
.menu a:active{
    color: var(--c2);
}

/* Main Hero */
#hero{
    background: url(images/test2.jpg) no-repeat center center/cover;
    height: calc(100vh - 12.4rem);

}
#hero-text{
    background-color: rgba(0, 0, 0, 0.439);
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}
span{
    background-color: rgba(255, 0, 0, 0.803);
    font-weight: 600;
}
/* Supporting Articles */
section.supporting{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    padding: 2rem;
    background-color: var(--c2);
    color: black;
}
article{
    background-color: white;
    text-align: center;
    padding: 2rem;
}
article button{
    background-color: var(--c1);
    color: white;
    border: solid 2px var(--c1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
article button:hover{
    background-color: var(--c2);
    color:black;
    border: solid 2px var(--c1);
    transition: all 0.3s ease-in-out;
}
article img{
    width:90%;
}
article p{
    line-height: 1.5rem;
    font-size: 0.9rem;
}

/* Footer */
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--c1);
    color: white;
    text-align: center;
    padding: 1rem;
}

footer img{
    width:20%;
    height: max-content;
}
footer p{
    font-size: 0.8rem;
    line-height: 1.5rem;
}
footer a{
    color: white;
    font-size: 0.8rem;
}
footer a:hover{
    text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 768px){
    .menu{
        width: 80%;
    }
    .logo img{
        height: 8rem;
    }
    #hero-text{
        font-size: 0.8rem;
    }
    section.supporting{
        grid-template-columns: 1fr;
    }
    article{
        margin: 1rem;
    }
    article img{
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    footer img{
        width: 50%;
    }
}